/* Grundlayout */
body {
    background: #f8f9fa;
    font-family: sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Wrapper für Sidebar + Hauptinhalt */
.content-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

/* Hauptbereich */
.main-container {
    width: 75%;
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
    border-radius: 8px;
}

/* Formular-Header */
.header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Formular-Elemente */
.form-label {
    display: block;
    margin-bottom: 0.25rem;
}

.form-input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #999;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

/* Kategorie-Tabs */
.category-tabs {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.tab-button {
    flex: 1;
    padding: 0.75rem;
    font: inherit;
    font-weight: bold;
    background: rgba(152, 152, 152, 0.2);
    cursor: pointer;
    text-align: center;
    border: 1px solid #989898;
    border-radius: 4px;
}

.tab-button:hover {
    background: rgba(152, 152, 152, 0.4);
}

.tab-button-balance-sheet {
    color: #087c2a;
}

.tab-button-income-statement {
    color: #da1e28;
}

.selected-tab-button {
    border: none;
}

.selected-tab-button-balance-sheet {
    background: #087c2a;
    color: white;
}

.selected-tab-button-balance-sheet:hover {
    background: #087c2a;
    color: white;
}

.selected-tab-button-income-statement {
    background: #da1e28;
    color: white;
}

.selected-tab-button-income-statement:hover {
    background: #da1e28;
    color: white;
}

.radio-button {
    cursor: pointer;
}

.operator-button-container {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

.operator-button-container > * {
    /*All operator buttons should grow to the exact same size*/
    flex: 1;
}

.operator-button {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(152, 152, 152, 0.2);
    border: 1px solid #989898;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

.operator-button:hover {
    background: rgba(152, 152, 152, 0.4);
}


/* Formel-Box */
.formula-textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #999;
    background: #fff;
    resize: vertical;
}

.custom-figure-builder-tab {
    border: 1px solid grey;
    border-radius: 4px;
    background: #ffffff;
    padding: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}

.balance-sheet-tab * {
    border: 1px solid #087c2a;
    color: #087c2a;
}

.income-statement-tab * {
    border: 1px solid #da1e28;
    color: #da1e28;
}

.account-button {
    flex: 0 0 1rem;
    height: 2rem;
    margin: 0.25rem;
    white-space: nowrap;
    padding: 0 1rem 0 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
}

/* Buttons */
.button-gruppe {
    display: flex;
    justify-content: center;
}

.button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.invisible {
    display: none;
}

.save-button {
    background-color: #007bff;
    color: white;
}

/* Sidebar */
.sidebar {
    width: 30%;
    background: #f9f9f9;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
    border-radius: 8px;
    height: fit-content;
    margin-left: 1rem;
}

.sidebar h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.edit-mode {
    background-color: darkgray !important;
}

.header-container {
    display: flex;
    justify-content: space-between;
    height: 4rem;
}

.edit-button-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#endEditModeButton {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    height: 2rem;
    background-color: #ef4444;
    color: white;

}

